# fly.toml file generated for dizzyhub-odoo on 2021-07-12T18:49:22-07:00

# app = "dizzy-dev-odoo"

kill_signal = "SIGINT"
kill_timeout = 5

[env]
# postgres host name
#HOST = "dizzyhub-pg.internal"
# postgres user
POSTGRES_USER = "lizzie"
# postgres password
POSTGRES_PASSWORD = ""
# Database name
DEFAULT_DATABASE = "odoo"

[mounts]
source="odoo_data"
destination="/var/lib/odoo"

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 8069
  protocol = "tcp"
  script_checks = []

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"


  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 6
    timeout = "2s"